table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 800px;
    height: 500px;
     table-layout: fixed;    /*테이블 너비를 고정 */ */
}

th,td{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    vertical-align: baseline;
   table-layout: fixed;/*고정값*/
}

.test {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    color: #000;
    margin: 0 auto;
  }
  .test span {
    vertical-align: center;
    text-align: center;
  }