/* VW(Viewport Width) : 뷰포트 너비의 1% 길이와 동일합니다. */
#sun{
    width: 100vw;
    height: 20vw;
    background-color: lightgray;
    text-align: center;
}
div>img{
    width: 25vw;
    height: 15vw;
    margin: 2.5vw 1vw;
}
div#sun>img:hover{
box-shadow: 0vw 0vw 0.3vw 0.1vw grey;
}




