.prod-list{
    margin: 0;
    padding: 0;
    /*none: 항목표시 제외*/
    list-style:  none;
}
.prod-list li{
    position: relative;
    /*float 속성을 사용해서 박스를 왼쪽으로 이동*/
    float: left;
    padding: 0;
    margin: 0.1vw;
    overflow: hidden;
}
.prod-list img{
    width: 20vw;
    height: 13vw;
    padding: 0.1vw;
}
.prod-list .caption{
   width: 20vw;
   height: 22vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    transition: 0.6s ease-in-out;
}
.prod-list li:hover.caption{
    opacity: 1;
    transform: translateY(-15vw);
}
.prod-list{
    color:white;
    font-size: 15px;
    text-align: center;
}