.wrapper p::first-letter {
    font-size : 2em;
  }
   .wrapper p::first-line {
    text-decoration: underline;
  }

  /* .wrapper p::before {
    content : "😊";
  } */
  /* .wrapper p::after {
    content : "👀";
  } */

  /* 카운터 */
  /* 부모요소에서 선언 */
  /*숫자번호 */
  .wrapper {
    counter-reset : section;
  }
  .wrapper p::before {
    counter-increment : section;
    content : counter(section)" ";
  }