.wrapper{
    background-color: gold;
    width: 300px;
    height: 300px;
    text-align: center;
    /*방향 top- right-bottom- left*/
    /*top/bottom left/right*/
    margin:  10px auto;  /*margin- left  margin -right*/
}
#align{
    background-color: aqua;
    text-align: center;
}