/*마주하는요소 간의 margin값은 큰값으로 처리된다*/
#m-collapse{
    margin-top: 50px;
}
.test{
    background-color: seagreen;
    width: 200px;
    height: 200px;
    border: 10px solid tomato;
    /* border-right: 10px solid tomato; */
    margin: 10px auto;
    padding: 5px;
    /* padding: 5px 10px 15px; */
    /* padding: 5px 10px 15px 20px; */
    /* padding-top: 5px;*/
    /* padding-bottom: 10px; */
    /* padding-left: 20px; */
}