.test{
    width: 200px;
    height: 200px;
    margin:  0 auto;
    background-color: lightblue;
    /* border-width:  1px;
    border-style: solid;
    border-color :black; */
    border: 5px solid black;
    /* border-radius: 30% 30% 30% 30%; */
    /* border-radius: 50% 40% 30%; */
    /* border-radius: 30% 30%  */
    border-radius: 30% 
}
.box{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px auto;
    /*가로 offset 세로offset 그림자크기 컬러*/
    box-shadow: 5px 5px 15px 5px gray;
}
/*hover 예제 클릭*/
.box:hover{
    box-shadow: 5px 5px 20px 5px yellow;
}