#text1{
color: greenyellow;
/*밑줄태그*/
text-decoration: underline;
}
#shadow{
    /*가로 offset 세로offset 번짐 color*/
    text-shadow: 3px 3px 7px gray;
}
#bg{
    background-color: black;
}
#ts1{
    font-size: 70px;
    font-weight: 700;
    color: orangered;
    text-shadow: 3px 3px 0px  orange;
}
#ts2{
    font-size: 70px;
    font-weight: bold;
    color:white;
    text-shadow: 0px 0px 20px #fff;
}
#ts3{
    font-size: 70px;
    font-weight: 700;
    color:white;
    text-shadow: 40px 0px 30px green;
}
#ts4{
    font-size: 70px;
    font-weight: 700;
    color: black;
    text-shadow: 1px -1px 3px rgb(255 247 0), 0px -3px 7px red;
}
div.wrapper{
    width: 300px;
    border: 1px solid black;
    /*줄바꿈*/
    white-space: nowrap;
    /*넘쳐나느것에대해 scroll */
    /*부모영역 밖의 자식요소 처리*/
    overflow: hidden;
    /*말줄임표*/
    text-overflow: ellipsis;


}
div.wrapper1{
    width: 300px;
    border: 1px solid black;
    /*줄바꿈*/
    white-space: nowrap;
    /* x y 의값 비교*/
    overflow-x: scroll;
}
div.wrapper2{
    width: 300px;
    border: 1px solid black;
    /*줄바꿈*/
    white-space: nowrap;
       /* x y 의값 비교*/
    overflow-y: scroll;
}